{% extends 'cnip/base.html'%}
{% block content %}
{% load staticfiles %}
<!-- Page Content -->
<style>
    h3 {
        margin-top: 1rem;
        margin-left: 14rem
    }



</style>


<div class="container">
<!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-6 mt-5">
            <img src="{% static 'img/place_hold.jpg' %}" class="img-fluid rounded mb-4 mb-lg-0"  alt>
        </div>
        <div class="col-lg-6">
            <h1 class="font-weight-light">Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <a class="btn btn-primary" href="{% url 'user:question' %}">Отримати консультацію</a>
        </div>
        <h3>Надійна юридична допомога в будь-якій життєвій ситуації</h3>
        <div class="row mt-3">
             <div class="col-md-4 mb-5">
                 <div class="card h-100">
                     <div class="card-body">
                        <h2 class="card-title">Підприємцям</h2>
                          <p class="card-text">Підтримка вашого бізнесу (консультація, підготовка документів, отримання дозвільної документації та представництво інтересів):</p>
                          <ul>
                              <li>податки</li>
                              <li>ліцензії</li>
                              <li>документи</li>
                              <li>юрист на аутсорс</li>
                          </ul>
                     </div>
                     <div class="card-footer">
                        <a href="service/id2" class="btn btn-primary btn-sm">Детальніше</a>
                     </div>
                 </div>
             </div>
      <!-- /.col-md-4 -->
             <div class="col-md-4 mb-5">
                  <div class="card h-100">
                      <div class="card-body">
                          <h2 class="card-title">Іноземцям в Україні</h2>
                          <p class="card-text">Допомога іноземним громадянам в Україні з актуальних правових питань:</p>
                          <ul>
                              <li>оформлення посвідки на проживання, громадянство</li>
                              <li>консультація з сімейних питань</li>
                              <li>допомога підприємцям</li>
                              <li>складання та аналіз договорів</li>
                              <li>інші правові питання</li>
                          </ul>
                      </div>
                      <div class="card-footer">
                          <a href="service/id3" class="btn btn-primary btn-sm">Детальніше</a>
                      </div>
                  </div>
             </div>
      <!-- /.col-md-4 -->
             <div class="col-md-4 mb-5">
                 <div class="card h-100">
                     <div class="card-body">
                          <h2 class="card-title">Сімейний юрист</h2>
                          <p class="card-text">Професійна юридична допомога у вирішенні сімейних питань:</p>
                          <ul>
                              <li>розлучення</li>
                              <li>аліменти</li>
                              <li>спадок</li>
                              <li>майно</li>
                              <li>діти</li>
                          </ul>
                     </div>
                     <div class="card-footer">
                          <a href="service/id4" class="btn btn-primary btn-sm">Детальніше</a>
                     </div>
                 </div>
             </div>
      <!-- /.col-md-4 -->
             <div class="col-md-4 mb-5">
                 <div class="card h-100">
                     <div class="card-body">
                        <h2 class="card-title">Регістраційні послуги</h2>
                          <p class="card-text">Швидкі та якісні регістраційні послуги будь-якого характеру:</p>
                          <ul>
                              <li>підготовка документів для реєстрації юридичних осіб, фізичних осіб підприємців, реєстрація в ЦНАП</li>
                              <li>внесення змін в Статутні документи</li>
                              <li>отримання ліцензій, сертифікатів та іншої дозвільної документації</li>
                              <li>інші послуги</li>
                          </ul>
                     </div>
                     <div class="card-footer">
                        <a href="service/id1" class="btn btn-primary btn-sm">Детальніше</a>
                     </div>
                 </div>
             </div>
      <!-- /.col-md-4 -->
             <div class="col-md-4 mb-5">
                  <div class="card h-100">
                      <div class="card-body">
                          <h2 class="card-title">Послуги адвоката</h2>
                          <p class="card-text">Професійний захист ваших інтересів:</p>
                          <ul>
                              <li>представництво в судах</li>
                              <li>підготовка процесуальних документів</li>
                              <li>стягнення заборгованності</li>
                              <li>cупровід процесу виконання рішення</li>
                              <li>адвокатський запит</li>
                              <li>зберігання документів</li>
                          </ul>
                      </div>
                      <div class="card-footer">
                          <a href="service/id5" class="btn btn-primary btn-sm">Детальніше</a>
                      </div>
                  </div>
             </div>
      <!-- /.col-md-4 -->
             <div class="col-md-4 mb-5">
                 <div class="card h-100">
                     <div class="card-body">
                          <h2 class="card-title">Нерухомість</h2>
                          <p class="card-text">Юридичні послуги у сфері нерухомості та будівництва:</p>
                          <ul>
                              <li>оформлення права власності</li>
                              <li>супроводження угод купівлі-продажу</li>
                              <li>оренда</li>
                              <li>перепланування</li>
                              <li>дозвіл на будівництво</li>
                              <li>виготовлення технічного паспорту</li>
                          </ul>
                     </div>
                     <div class="card-footer">
                          <a href="service/id6" class="btn btn-primary btn-sm">Детальніше</a>
                     </div>
                 </div>
             </div>
         </div>

    </div>
</div>
<!-- Page Content end -->
{% endblock content %}
